page-home {

    h3 {
        text-align: center;
        font-size: 30px;
        font-family: 'Poppins', sans-serif;    
    }
    
    .main-Homepage{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    
    }
